<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visualizing Baltimore Murals</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

  </head>
<style type="text/css">
body {
    overflow:hidden;
}
</style>
  <body id="page-top" >

<div class = 'logo'>
<!--   all your other divs part of the web content (images,text,etc) -->
<h1 class="ml16"><br><br>Charm City Murals</h1>
<h1 class="ml15">A Baltimore Mural Visualization Project</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  </div>

<div id="particles-js" ></div>
<div id="particles-js2"></div><script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="particles.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="smooth-parallax.min.js"></script>
<script type="text/javascript">
  window.addEventListener("load", function () {
    SmoothParallax.init();
  });

</script>

<img class="skyline" src="../images/banv1.png" smooth-parallax start-position-y="-0.68"smooth-parallax start-position-x="-0.02">
<img class="skyline" src="../images/banv2.png" smooth-parallax start-position-y="-0.7"smooth-parallax start-position-x="-0.05">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Image View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about2">Camera View</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="about" class="about-section text-center">
      <div class="container">

        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Map View</h2>

            <p><button type="button" class="btn btn-outline-warning" ><a href="map">Explore Data</a></button></p>

            <p class="text-white-50">Here you can explore and view murals pinpointed on the Baltimore map.</p>
          </div>
        </div>
        <img src="images/mapboximg.jpg" class="img-fluid" alt="">
      </div>
    </section>

    <section id="about2" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Camera View</h2>
            <p><<button type="button" class="btn btn-outline-warning" ><a href="discover">Discover Mural!</a></button></p>
            <p class="text-white-50">Explore a mural in AR!</p>
          </div>
        </div>
        <img src="images/mural.jpg" class="img-fluid" alt="">
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
