<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visualizing Baltimore Murals</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">
    <style>.skyline {
      max-width: 100%;
      }</style>
  </head>

  <body id="page-top" >

<div class = 'logo'>
<!--   all your other divs part of the web content (images,text,etc) -->
<h1 class="ml16"><br><br>Charm City Murals</h1>
<h1 class="ml15">A Baltimore Mural Visualization Project</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  </div>

<div id="particles-js" ></div>
<div id="particles-js2"></div><script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="particles.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="smooth-parallax.min.js"></script>
<script type="text/javascript">
  window.addEventListener("load", function () {
    SmoothParallax.init();
  });

</script>

<img class="skyline" src="../images/banv1.png" smooth-parallax start-position-y="-0.5"smooth-parallax end-position-y="-0.5"smooth-parallax start-position-x="-0.02">
<img class="skyline" src="../images/banv3.png" smooth-parallax start-position-y="-0.5"smooth-parallax end-position-y="-0.55"smooth-parallax start-position-x="-0.03">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#map">Map View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#camera">Camera View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Impact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#tech">Technical Stack</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="map" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Map View</h2>
            <p><button type="button" class="btn btn-outline-warning" ><a href="map">Explore Data</a></button></p>
            <p class="text-white-50">Here you can explore and view murals pinpointed on the Baltimore map.</p>
          </div>
        </div>
        <img src="images/map-screenshot.png" class="img-fluid" alt="">
      </div>
    </section>

    <section id="camera" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Camera View</h2>
            <p><<button type="button" class="btn btn-outline-warning" ><a href="discover">Discover Murals!</a></button></p>
            <p class="text-white-50">Explore a mural in AR!</p>
          </div>
        </div>
        <img src=".../camera-back.png" class="img-fluid" alt="">
      </div>
    </section>

    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Impact</h2>
            <p class="text-white-50">Baltimore is a city of creatives. Local artists use their work as a way to connect people and communities, and to express the city's unique history and personality so central to its identity. This application showcases the much lauded artistic scene in Baltimore City, yet also reveals a deeply rich past, and a dynamic, complex present permeating throughout the nation. Most importantly, however, murals express the current social and political climate, sometimes strongly enough to become a form of activism and bring to light the community's struggles.</p>
            <p class="text-white-50">Overall, this application encourages our residents to explore the city and is an important step forward in celebrating and acknowledging public art as a voice of charm city. </p>
          </div>
        </div>
      </div>
    </section>

    <section id="tech" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Technical Stack</h2>
            <p class="text-white-50">
            Our application uses a wide range of tools and frameworks. Many thanks, to <a href="https://stae.co/hop-hacks/">Stae City Data</a> and the <a href="https://data.baltimorecity.gov/Culture-Arts/Baltimore-City-Murals-Project-1987-to-Present/zqh4-9ud5">Baltimore City Government</a> for their data sources.</p>
            <p class="text-white-50">1. Uses cutting-edge HTML5 to bring AR to your phone browser, making our experience immediately available to everyone.</p>
            <p class="text-white-50">2. Built on top of the light weight microframework Flask, to help create a robust API.</p>
            <p class="text-white-50">3. Uses custom segmentation code and object detection code for murals, using the power of OpenCV.</p>
            <p class="text-white-50">4. Extensive data exploration in bash to aggregate and expand training data for our CNN by using city data images.</p>
            <p class="text-white-50">5. Implements <a href="https://arxiv.org/abs/1708.04680">Augmentor</a> to help supplement our sparse data set of 170 images into countless new ones.</p>
            <p class="text-white-50">6. Utilized <a href="https://www.cse.ust.hk/~qyang/Docs/2009/tkde_transfer_learning.pdf">transfer learning</a> from <a href="https://github.com/nitroventures/tensorflow-art">TensorFlow Art</a> as an artwork classifier.</p>
            <p class="text-white-50">7. Wrote custom network for mural categorization. We built our model with NumPy and Tensorflow. In particular, we implemented a dual encoder convolutional neural network for unsupervised feature comparision. This essentially builds a "mural vector space" allowing the model, allowing for any murals to be quickly lookup and compared.</p>
            <p class="text-white-50">8. Used <a href="http://tensorboard.charmcitymurals.com/">Tensorboard</a> for training validation and great visualizations.</p>
            <p class="text-white-50">9. Augmented Reality using HTML and data derived from OpenCV to provide information as overlay on the captured image.</p>
            <p class="text-white-50">10. Frontend implemented using Bootstrap, <a href="https://vincentgarreau.com/particles.js">particle.js</a>, <a href="https://diegoversiani.me/smooth-parallax/">Smooth Parallax</a> scrolling, and <a href="mapbox.com/studio">MapBox</a></p>
            <p class="text-white-50">11. Services: Domain name using domain.com and server using Google Cloud Compute systems.</p>

            <p><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR28Gz5QmdxI2th6Nw1nnsugD8j_gBGBCnhlR32zynYbQQu5I7IVpRMjDcK4cc7luQsVtl_lFHCyBhF/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" style="max-width:100%"allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></p>

          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
