<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Points on a map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id='map'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic3RhbWJ5MSIsImEiOiJjam0ydW42cDczMmZ1M2twNDhreHBxZDltIn0.o5P0BsCRazfRE2fWTZzPFw';
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/stamby1/cjm3wck5o1bxe2snmr8v3uxxl',
      center: [-76.594960, 39.304647],
      zoom: 12.1
    });
    // code from the next step will go here
    map.on('click', function(e) {
      var features = map.queryRenderedFeatures(e.point, {
        layers: ['geodata-new'] // replace this with the name of the layer
      });
      if (!features.length) {
        return;
      }
      var feature = features[0];
        var artists = feature.properties.artists
       artists = artists.substring(2, artists.length - 2)
       if (artists.includes(",") == true) {
        var last = artists.lastIndexOf(",")
        artists = artists.substring(0, last - 1) + " and " + artists.substring(last + 1)
      }

      //‘<img src=“’ + location.image + ‘“>’

      var image = "hi"
      if ("images" in feature.properties) {
        image = feature.properties.images
        image = image.substring(2, image.length-2)
        var popup = new mapboxgl.Popup({ offset: [0, -15] })
          .setLngLat(feature.geometry.coordinates)
          .setHTML('<h3>' + feature.properties.address + '</h3><p>' + "Created by " + artists + '</p>' + '<a href=“' + image + '”><img src="' + image + '" style="width:300px;height:200px;"></a>')
          .setLngLat(feature.geometry.coordinates)
          .addTo(map);

      } else {
        var popup = new mapboxgl.Popup({ offset: [0, -15] })
        .setLngLat(feature.geometry.coordinates)
        .setHTML('<h3>' + feature.properties.address + '</h3><p>' + "Created by " + artists + '</p>')
        .setLngLat(feature.geometry.coordinates)
        .addTo(map);
      }
    });

    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());
    </script>

    <button onclick="goBack()">Go Back</button>

    <script>
      function goBack() {
          window.history.back();
      }
    </script>

  </body>
</html>